@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/extends";
@import "./layout/header";
@import "./layout/main";
@import "./layout/products";
@import "./layout/extras";
@import "./mq/mediaq";
@import "./layout/navbar";

/*BASE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

iframe {
  position: relative;
  z-index: 0;
  pointer-events: auto;
}


