/*NAVBAR*/
.logo {
  @include escalasCenter(auto,5vh);
  display: block;
}

.navbar {
  z-index: 1050;
}

.navbar-toggler {
  border: none; 
 background: linear-gradient(73deg,rgb(122, 122, 122) 0%, rgb(95, 95, 95) 59%);
  padding: 0.5rem;
  border-radius: 0.3rem;

  .navbar-toggler-icon {
    background-image: none; 
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: $colorBlanco;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
  }
}
